body{
    font-family: Arial, sans-serif;
    background-color: #082b84;
    margin: 0;
    padding: 20px;
}
form {
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.weather-info {
    color: rgb(47, 170, 205);
    justify-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(47, 170, 205);
}
.weather-info h2 {
    margin-top: 0;
}
.weather-info p {
    margin: 5px 0;
}

.error-message {
    color: red;
    margin-top: 10px;
}